<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link th:href="@{style.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{https://fonts.googleapis.com/css?family=Fjalla+One|Lato}" rel="stylesheet"/>
  <title>myCV</title>
</head>
<body>

<header>
  <img class="headerpic" src="header2.jpg" alt="river"/>
  <h3 class="hi">Hi, my name is </h3>
  <h1 class="myname">Norbert Barics</h1>
</header>
<main class="addwork">
  <form method="post" action="/addWork">
    <input th:type="text" name="addWork"/>
    <input th:type="submit" value="yepp...work again..."/>
  </form>

  <h2 class="places">Workplaces:</h2>
  <tr th:each="entry : ${workList}">
    <section class="workplaces">
      <td th:text="${entry.workplace}">workplace</td>
      <td ><a class="link" th:href="@{/deleteWork(delete=${entry.id})}">X</a></td>
    </section>
  </tr>
</main>

<footer>
  <h2 class="saberstext">SABERS</h2>
  <img class="footerpic" src="sabers.jpg" alt="sabers team"/>
</footer>

</body>
</html>